numpy
yt-dlp
Pillow
aiohttp
hachoir
olefile
requests
tgcrypto
aiofiles
dnspython
motor==2.5.0
beautifulsoup4
pyrogram
datetime 
pytz 
requests 
bs4 
Flask==1.1.2
gunicorn==20.1.0
Jinja2==3.0.3
werkzeug==2.0.2
itsdangerous==2.0.1
pyrofork
pymongo[srv]==3.12
ffmpeg-python
ffmpeg
psutil
loggers
filetype
tldextract
pyromod==1.2